.userInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.userHeader {
  display: flex;
  justify-content: space-between;
  width: 816px;
}

.title {
  font-size: 32px;
  color: rgba(0, 0, 0, 0.8);
  margin: 25px 0 10px;
}

.edit {
  display: flex;
  width: 504px;
  margin-bottom: 59px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.subtitle {
  margin: 0 0 22px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.userLogo {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 15px 0;
}

.userLogo span {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.fieldsetContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 41px;
  width: 518px;
}

.fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  position: relative;
  height: 75px;
}

.label {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 16.2px;
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 3px;
  display: flex;
  align-items: center;
}

.attention {
  position: absolute;
  bottom: 4px;
  margin-left: 12px;
}

.inputContainer {
  position: relative;
  width: 361px;
}

.input {
  padding: 12px 14px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  width: 364px;
  height: 44px;
  color: rgba(0, 0, 0, 0.8);
}

.input:hover {
  box-shadow: 0 1px 4px 0 rgba(36, 63, 97, 0.1);
}

.input:focus {
  background-color: #fefefe;
}

.input:disabled {
  color: rgba(0, 0, 0, 0.2);
  box-shadow: none;
}

.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.inputError {
  border: 1px solid #e62214;
}

.inputFigure {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 8px;
  right: 10px;
  cursor: pointer;
}

.hidden {
  background: url(../../images/hidden_password.svg) no-repeat center;
}

.visible {
  background: url(../../images/visible_password.svg) no-repeat center;
}

.span {
  color: #e62214;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  width: 364px;
}

.support {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  width: 364px;
}

.spanError {
  color: #e62214;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.spanConfirm {
  color: #e62214;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  bottom: -17px;
}

.button {
  width: 214px;
  margin: 9px 0 0;
}

.create {
  display: flex;
  align-items: center;
  white-space: nowrap;
  height: 48px;
  gap: 9px;
  background-color: #674eae;
  color: #f1f0eb;
  border: 0;
  border-radius: 8px;
  width: fit-content;
  padding: 0 26px 0 16px;
  margin: 24px 0 0 0;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.create:hover {
  background-color: #443375;
  transition: 0.3s ease-in-out;
}

.create:active {
  background-color: #291b51;
}

.link {
  text-decoration: none;
}

.recommendation {
  width: 20px;
  height: 20px;
  margin-left: 6px;
  cursor: pointer;
}

.divider {
  height: 2px;
  width: 1440px;
  color: rgba(0, 0, 0, 0.08);
}
