.primaryButton {
  display: flex;
  align-items: center;
  gap: 9px;
  background-color: #674eae;
  color: #f1f0eb;
  border: 0;
  border-radius: 8px;
  width: fit-content;
  height: 44px;
  padding: 10px 24px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.primaryButton:hover {
  background-color: #443375;
  transition: 0.3s ease-in-out;
}

.primaryButton:active {
  background-color: #291b51;
}

/* .figure {
  width: 20px;
  height: 20px;
} */
