.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
  cursor: default;
}

.section:last-of-type {
  margin-bottom: 0;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 35px;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: rgba(0, 0, 0, 0.8);
}

.list {
  width: 100%;
  min-width: 900px;
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(296px, 1fr));
  height: fit-content;
  list-style-type: none;
  position: relative;
}

.list > li {
  margin-bottom: calc(64px - 16px);
}

.list > li:last-child {
  margin-bottom: 0;
}

.navigationContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
