.eventDescription {
  position: relative;
  width: 600px;
  margin-bottom: 221px;
  cursor: default;
}

.eventHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
}

.eventName {
  width: 504px;
  margin-top: 0;
  font-weight: 700;
  line-height: 38.4px;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.8);
}

.eventFigures {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 11px;
  top: 8px;
  right: -4px;
}

.eventFigure {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* .image {
  width: 24px;
  height: 24px;
} */

.eventDates {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 12px;
  padding: 0;
  color: rgba(0, 0, 0, 0.6);
  margin: 2px 0 78px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  list-style-type: none;
}

.eventDate {
  /* display: flex;
  align-items: start; */
  display: grid;
  grid-template-columns: 24px auto;
  gap: 5px;
}

.eventPrice {
  color: #674eae;
  font-weight: 500;
  line-height: 25px;
  font-size: 20px;
}
