@import '../../scss/vars.scss';

.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 73px;
  list-style-type: none;
  padding: 65px 0 0;

  .filterButton {
    background: transparent;
    border: none;
    display: flex;
    min-width: 80px;
    height: 28px;
    gap: 8px;
    font-weight: 400;
    font-size: 20px;
    color: $mainTextGreyColor;
    cursor: pointer;
  }

  .active {
    color: $smallTitleDarkGreyColor;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background: $lightGrey;
  margin: 15px 0 35px;
}

@media screen and (min-width: 321px) and (max-width: 992px) {
  .list {
    width: min-content;
    gap: 20px;
    padding: 50px 0 0;
  }
}
