@import '../../scss/vars.scss';

.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 73px;
  list-style-type: none;
  padding: 65px 0 25px 0;

  .item {
    display: flex;
    align-items: center;
    gap: 8.7px;
    width: fit-content;
    position: relative;
    cursor: pointer;
  }

  .filterButton {
    background: #fefefe;
    border: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: $smallTitleDarkGreyColor;
    cursor: pointer;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background: $lightGrey;
  margin-top: 20px;
  margin-bottom: 20px;
}
