.container {
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 100%;
  color: rgba(0, 0, 0, 0.8);
  max-width: 468px;
  cursor: default;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 53px;
  margin: 0;
  white-space: nowrap;
}

.subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.6);
}
