@import '../../scss/vars.scss';

.form {
  width: 100%;
}

.input {
  background: url("../../images/Actions/loupe.svg") no-repeat;
  background-position-x: 12px;
  background-position-y: center;
  margin: -4px 0 9px 1px;
  padding-left: 40px;
  padding-right: 20px;
  height: 34px;
  width: 192px;
  border: 0;
  border-radius: 20px;
  box-shadow: 0px 1px 4px rgba(36, 63, 97, 0.1),
    0px 0px 1px rgba(36, 63, 97, 0.16);
  color: $smallTitleDarkGreyColor;
  &:focus {
      box-shadow: 0px 1px 4px rgba(103, 78, 174, 0.3),
        0px 0px 1px rgba(103, 78, 174, 0.3);
      outline: none;
      color: $mainTitleDarkGreyColor;
  }
}

// .input_short {
//   width: 192px;
//   border-radius: 20px;
//   box-shadow: 0px 1px 4px rgba(36, 63, 97, 0.1),
//     0px 0px 1px rgba(36, 63, 97, 0.16);
//   color: $smallTitleDarkGreyColor;
//   &:focus {
//       box-shadow: 0px 1px 4px rgba(103, 78, 174, 0.3),
//         0px 0px 1px rgba(103, 78, 174, 0.3);
//       outline: none;
//       color: $mainTitleDarkGreyColor;
//   }
// }

// .input_regular {
//   width: 100%;
//   max-width: 500px;
//   border-radius: 12px;
//   border: 1px solid $lightGrey;
//   font-size: 16px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: 24px;
//   &:focus {
//     box-shadow: 0px 1px 4px rgba(103, 78, 174, 0.3),
//       0px 0px 1px rgba(103, 78, 174, 0.3);
//     outline: none;
//     color: $blackColor;
//   }
// }





// .input {
//     width: 192px;
//     border-radius: 20px;
//     // background: url("../../images/Actions/loupe.svg") no-repeat;
//     // background-position-x: 12px;
//     // background-position-y: center;
//     // margin: -4px 0 9px 1px;
//     // padding-left: 40px;
//     // padding-right: 20px;
//     border: 0;
//     box-shadow: 0px 1px 4px rgba(36, 63, 97, 0.1),
//       0px 0px 1px rgba(36, 63, 97, 0.16);
//     color: $smallTitleDarkGreyColor;
//   }
  
//   .input:focus {
//     box-shadow: 0px 1px 4px rgba(103, 78, 174, 0.3),
//       0px 0px 1px rgba(103, 78, 174, 0.3);
//     outline: none;
//     color: $mainTitleDarkGreyColor;
//   }
  