.eventTabs {
  width: 592px;
  margin: 60px 0 45px;
  display: flex;
  gap: 28px;
  font-weight: 500;
  cursor: pointer;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.activeTab {
  position: relative;
  color: rgba(0, 0, 0, 0.8);
  padding: 2px 2px;
}

.activeTab::after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 102%;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.2);
}

.tab {
  color: rgba(0, 0, 0, 0.4);
  padding: 2px 2px;
}

.tabContent {
  width: 560px;
  font-size: 20px;
  line-height: 125%;
  color: rgba(0, 0, 0, 0.8);
}
