@import '../../scss/vars.scss';

.eventTabs {
  margin: 60px 0 45px;
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  font-weight: 500;
  cursor: pointer;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  white-space: nowrap;

  .activeTab {
    position: relative;
    color: $darkGrey;
    padding: 2px 2px;

    &::after {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 50%;
      transform: translateX(-50%);
      width: 102%;
      height: 3px;
      background-color: $darkGrey;
    }
  }

  .tab {
    color: $lightGrey;
    padding: 2px 2px;
  }
}

.tabContent {
  font-size: 20px;
  line-height: 125%;
  color: $mediumGrey;
}

@media screen and (min-width: 321px) and (max-width: 992px) {
  .eventTabs {
    flex-direction: column;
    border-bottom: 0;

    .activeTab {
      width: fit-content;
      
      &::after {
        content: "";
        width: 100%;
        height: 2px;
      }
    }
  }
}
