.card {
  border-radius: 20px;
  gap: 24px;
  display: grid;
  grid-template-columns: 296px 1fr;

  .imageContainer {
    position: relative;
    border-radius: 8px;
    height: 180px;
    width: 100%;
    cursor: pointer;
    overflow: hidden;

    .image {
      border-radius: 8px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
      transition: box-shadow 0.3s ease;

      &:hover {
        -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.6);
        box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.6);
      }
    }
  }

  .likeButton {
    background: url(../../images/like-button.svg) no-repeat center;
    background-size: 19.5px 19px;
    width: 19.5px;
    height: 19px;
    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
    position: absolute;
  }

  .likeButtonActive {
    background: url(../../images/like-button_active.svg) no-repeat center;
    background-size: 21.01px 20.25px;
    width: 21.01px;
    height: 20.25px;
    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
    position: absolute;
  }
}

.linkButton {
  background: url(../../images/like-button.svg) no-repeat center;
  background-size: 19.5px 19px;
  width: 19.5px;
  height: 19px;
  top: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
}

.titleContainer {
  display: flex;
  align-items: baseline;
  max-width: 100%;
  max-height: 48px;
  overflow: hidden;
}

.title {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  // display: -webkit-box;
  // webkit-line-clamp: 2;
  // -webkit-box-orient: vertical;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: wrap;
  font-size: 20px;
  line-height: 1.2;
  //max-height: 56px;
  max-width: 550px;
}

.location {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #878787;
}

.date {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #878787;
}

.address {
  max-width: 245px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  margin-top: 8px;
  color: #674eae;
  width: fit-content;
  border-radius: 8px;
}

.rowContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  white-space: wrap;
  list-style-type: none;

  .rowItem {
    display: flex;
    align-items: start;
    gap: 4px;
  }
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  //flex-grow: 1;
}

.eventFigure {
  display: flex;
  align-items: center;
  gap: 10.5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #797979;
  cursor: pointer;
}

@media screen and (min-width: 321px) and (max-width: 992px) {
  .card {
    display: flex;
    flex-direction: column;
    min-width: 160px;

    .imageContainer {
      max-height: 130px;
    }
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
  }
  .rowContainer {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
  }
  .price {
    padding: 8px 12px;
    border-radius: 8px;
    background: rgba(103, 78, 174, 0.80);
    color: rgba(241, 240, 235, 1);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
  }
}
