.card {
  border-radius: 20px;
  height: fit-content;
  width: 296px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .imageContainer {
    position: relative;
    width: fit-content;
    height: fit-content;

    .image {
      border-radius: 8px;
      width: 296px;
      height: 240px;
      object-fit: cover;
      transition: all 0.3s ease;

      &:hover {
        box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.6);
        cursor: pointer;
        transform: scale(1.02);
      }

      &:active {
        outline: 2px solid #674eae;
      }
    }

    .likeButton,
    .likeButtonActive {
      background-size: contain;
      width: 24px;
      height: 24px;
      top: 17px;
      right: 16px;
      border: none;
      cursor: pointer;
      position: absolute;
    }

    .likeButton {
      background: url(../../images/like-button.svg) no-repeat center;
    }

    .likeButtonActive {
      background: url(../../images/like-button_active.svg) no-repeat center;
    }
  }

  .descriptionContainer {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-grow: 1;

    .title {
      font-weight: 500;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 20px;
      height: 46px;
      width: 252px;
      color: rgba(0, 0, 0, 0.8);
    }

    .linkButton {
      background: url(../../images/Actions/share.svg) no-repeat center;
      width: 24px;
      height: 24px;
      margin: 4px 4px 0 0;
      border: none;
      cursor: pointer;
    }
  }

  .rowContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
    padding-top: 4px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: horizontal;

    .city {
      width: 150px;
      height: 28px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .price {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #f1f0eb;
    background-color: rgba(103, 78, 174, 0.8);
    width: fit-content;
    padding: 8px;
    border-radius: 8px;
    position: absolute;
    bottom: 20px;
    left: 16px;
    z-index: 5;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .card {
    width: 160px;

    .imageContainer {
      .image {
        width: 160px;
        height: 130px;
      }
    }
  }
}
