.eventContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: calc(100vh - 113px - 152px - 62px);
  margin: 40px 104px 0;
}

.eventImage {
  width: 608px;
  height: 390px;
  object-fit: cover;
  border-radius: 11px;
}

.horizontalList {
  width: 100%;
  min-width: 900px;
  margin-bottom: 67px;
}
