/* Страница: Главная */
.mainPageWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 97px;
  flex-grow: 1;
  align-items: start;
  padding-top: 54px;
  position: relative;
  max-width: 1232px;
}

.mainPageListWrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

/* // ORGANIZATION  */

.organizationWrapper {
  display: flex;
  align-self: center;
  flex-grow: 1;
}

.searchResultPageWrapper {
  display: flex;
  gap: 120px;
  align-self: start;
  flex-grow: 1;
  padding: 25px 104px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.searchResultContainer {
  display: flex;
  flex-direction: column;
  gap: 124px;
}

.navigationContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 120px;
}

/* Страница: Политика */
/* .policyBackground {
  width: 100vw;
  background: #f1f1f1;
} */

.policySection {
  width: 922px;
  margin: 44px auto 0 104px;
  color: rgba(0, 0, 0, 0.8);
}

.policySpan {
  font-size: 20px;
}

.policyTitle {
  font-size: 48px;
  margin: 25px 0 72px;
  line-height: 52.8px;
}

.policyList {
  list-style-type: none;
  margin-bottom: 71px;
}

/* .policyList:last-of-type {
  margin-bottom: 120px;
} */

.policySubtitle {
  font-size: 32px;
  line-height: 38.4px;
  padding-left: 9px;
  margin-bottom: 20px;
}

.policyText {
  font-size: 20px;
  line-height: 31px;
  color: rgba(0, 0, 0, 0.6);
}

.downloadPdf {
  display: flex;
  margin-bottom: 120px;
  width: fit-content;
  padding: 12px 20px;
  color: white;
  background-color: #674eae;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
}

.downloadPdf:hover {
  background-color: #443375;
}

.downloadPdf:active {
  background-color: #291b51;
}

/* .policyPageWrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-grow: 1;
}

.cookiesPageWrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-grow: 1;
} */

/* Страница: Избранное */
.favoritesPageWrapper {
  display: flex;
  flex-direction: column;
  align-self: start;
  flex-grow: 1;
  padding: 64px 104px 0;
  width: 100%;
  min-height: calc(100vh - 113px - 152px);
}

.favoritesPageListContainer {
  padding-top: 56px;
}

.divider {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.08);
}

.noFavoritesContainer {
  padding-top: 24px;
}

.noFavoritesText {
  color: #242424;
  font-weight: 500;
  font-size: 24px;
  line-height: 28.8px;
  padding-bottom: 20px;
}

.noFavoritesDesc {
  max-width: 721px;
  color: #797979;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  padding-bottom: 12px;
}

.noFavoritesLink {
  color: #674eae;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

/* Страница: Уведомления */
.notificationsPageWrapper {
  display: flex;
  flex-direction: column;
  align-self: start;
  flex-grow: 1;
  margin: 63px 0 0 104px;
}

/* Страница: Личный кабинет (стартовая) */
.accountTitle {
  margin: 63px 0 13px;
}

.accountPageWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 64px;
}

.accountBlocks {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 1232px;
  margin-top: 60px;
  margin-bottom: 150px;
}

.accountGreeting {
  color: #525252;
}

.blockLink {
  text-decoration: none;
  color: #000000;
}

/* Страница: Личный кабинет (Персональная информация) */
.userInfo {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  width: 1232px;
  gap: 110px;
  padding-top: 32px;
  border-top: 2px solid rgba(0, 0, 0, 0.08);
}

/* Страница: Предпочтения */
.preferencesPageWrapper {
  display: flex;
  width: 100%;
  flex-grow: 1;
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #ffffff 35.14%,
    #f8f7fa 35.28%,
    #f8f7fa 100%
  );
}

.asideBlock {
  width: 502px;
  margin: 32px 0 0 104px;
}

.asideTitle {
  width: 320px;
  font-size: 48px;
  line-height: 52.8px;
  color: #181818;
  cursor: default;
}

.asideText {
  width: 320px;
  margin: 64.5px 0 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.6px;
  color: #39364f;
  cursor: default;
}

.tagsBlocks {
  display: flex;
  flex-direction: column;
  width: calc(100% - 502px);
  gap: 32px;
  margin: 64px 0 80px;
}

.filterField {
  display: flex;
  gap: 80px;
  align-items: center;
  padding: 61px 0 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  position: relative;
}

.filterList {
  list-style-type: none;
  display: flex;
  gap: 25px;
}

.filterItem {
  padding: 8px 40px 8px 15px;
  border: 1px solid #5b5b5b;
  border-radius: 100px;
  position: relative;
  display: flex;
  cursor: pointer;
}

.filterItem:hover {
  color: #674eae;
}

.filterItem::before {
  content: '';
  position: absolute;
  top: 43%;
  right: 0;
  transform: translate(-50%) rotate(180deg);
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 7.5px solid #2a2630;
}

.filterSpan {
  position: absolute;
  left: 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #797979;
}
