

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  margin: 0 0 0 auto;
  border: 0;
  background: transparent;
}

/* Страница: Результаты поиска */
.favoritesPageWrapper {
  display: flex;
  flex-direction: column;
  align-self: start;
  flex-grow: 1;
  // padding: 64px 104px 0;
  width: 100%;
  min-height: calc(100vh - 113px - 152px);

  .favoritesPageListContainer {
    padding-top: 36px;
  }

  .noFavoritesContainer {
    padding-top: 24px;
  }

  .noFavoritesText {
    color: #242424;
    font-weight: 500;
    font-size: 24px;
    line-height: 28.8px;
    padding-bottom: 20px;
  }

  .noFavoritesDesc {
    max-width: 721px;
    color: #797979;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    padding-bottom: 12px;
  }

  .noFavoritesLink {
    color: #674eae;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
  }
}

/* Страница 404 */
.notFound {
  position: relative;
  display: flex;
  width: 100%;
  height: calc(100vh - 113px - 64px);
  padding: 242px 142px 153px;
  background: url("../images/404.svg") no-repeat;
  background-position-x: 104px;
  background-position-y: 113px;
  background-color: #e6e6e6;
  border-top: 2px solid rgba(0, 0, 0, 0.08);
}

.notInfo {
  position: absolute;
  top: 114px;
  left: 418px;
}

.notTitle {
  color: #242424;
  margin: 0 0 16px;
}

.notBlock {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 25px;
  gap: 20px;
}

.notText {
  color: #242424;
  text-decoration: none;
  line-height: 25px;
}




  .favoritesPageWrapper {
    // padding: 64px 16px 0;
  }

  .notFound {
    height: calc(100vh - 113px - 320px);
    padding: 0;
    background-position-x: -30px;
  }

  .notInfo {
    left: 200px;
  }

