/* КАСТОМНЫЙ ЧЕКБОКС */
.checkboxButton {
  display: none;
}

.checkboxLabel {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  color: #797979;
  cursor: pointer;
}

.checkboxLabel:before {
  content: '';
  width: 16px;
  height: 16px;
  border: 2px solid #797979;
  border-radius: 2px;
}

.checkboxLabel:hover:before {
  border-color: #674eae;
}

.checkboxButton:checked + .checkboxLabel:before {
  background: url('./../../images/Actions/Check.svg') no-repeat;
  background-position: center;
  background-color: #674eae;
  border-color: #674eae;
}
