.tagElement {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 28px;
  border: 1px solid #797979;
  border-radius: 30px;
  gap: 5px;
  padding: 0 12px;
  font-size: 12px;
  color: #797979;
  background-color: transparent;
  cursor: pointer;
}

.tagElement:hover {
  border-color: #674eae;
  color: #674eae;
}

.tagElement.clicked {
  border-color: #674eae;
  color: #fefefe;
  background-color: #674eae;
}
