@import '../../scss/vars.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 113px;
  max-width: 1440px;
  padding: 32px 20px;
  border-bottom: 1px solid $lightBeigeColor;

  .link {
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
    color: $mainTitleDarkGreyColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}

@media screen and (max-width: 1279px) {
  .header {
    padding: 0 20px;
  }
}

@media screen and (min-width: 321px) and (max-width: 992px) {
  .header {
    height: 80px;
    padding: 0 16px;
  }

  .link span {
    display: none;
  }
}
