.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 60px;
  width: 100%;
}

.listItem {
  border-bottom: 2px solid #e0e0e0;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}

.gap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #525252;
}

.listContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.spanContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 35px;
}

.span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #767575;
}
