.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  max-width: 1440px;
  padding: 64px 20px 0;
}

@media screen and (max-width: 1279px) {
  .wrapper {
    padding: 56px 32px 0;
  }
}

@media (max-width: 992px) {
  .wrapper {
    padding: 38px 20px 0;
  }
}

@media (max-width: 767px) {
  .wrapper {
    padding: 20px;
  }
}
