@import '../../scss/vars.scss';

.container {
  display: flex;
  width: 920px;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0 0 50px;
}

.countContainer {
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  align-self: center;
  color: rgba(0, 0, 0, 0.6);
}

.button {
  display: flex;
  align-items: center;
  min-height: 36px;
  background: #fefefe;
  box-shadow: 0px 1px 4px rgba(36, 63, 97, 0.1),
    0px 0px 1px rgba(36, 63, 97, 0.16);
  border-radius: 18px;
  border: none;
  padding: 6px 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);

  .text {
    margin-right: 15px;
  }
}

.clearData {
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: $purpleColor;
  margin-left: 8px;
  cursor: pointer;

  &:hover {
    color: $darkPurpleColor;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .container {
    width: 100%;
  }
}
