.figure {
  cursor: pointer;
  width: 8px;
  height: 14px;
}

.pageSelector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-radius: 100px;
  border: 1px solid gray;
  padding: 11px 19px;
}
