@import '../../scss/vars.scss';

.tagsList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 12px 8px;
  font-size: 12px;
  list-style-type: none;
}

.showMore {
  font-size: 12px;
  font-weight: 500;
  margin-top: 17px;
  color: $purpleColor;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    color: $darkPurpleColor;
  }
}
