@import url(./vendor/normalize.css);

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: 'IBM Plex Sans';
}

input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.2s ease;
}

input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.2s ease;
}

input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.2s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.2s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.2s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.2s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.2s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.2s ease;
}
