.speakersTitle {
  font-size: 24px;
  font-weight: 500;
  color: #242424;
  margin-bottom: 48px;
}

.speakersTab {
  margin-bottom: 50px;
}

.topic {
  font-size: 20px;
  font-weight: 500;
  color: #242424;
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 16px;
  font-size: 20px;
  color: 500;
}

.aboutSpeaker {
  display: flex;
  margin: 24px 0;
}

.speakerInfo {
  display: flex;
  flex-direction: column;
}

.speakerName {
  font-size: 16px;
  color: #2a2630;
}

.speakerSkills {
  font-size: 16px;
  color: #797979;
}

blockquote {
  border-left: 5px solid #674eae;
  padding-left: 10px;
}
