.form {
  width: 100%;
}

.formInput {
  width: 100%;
  max-width: 500px;
  height: 34px;
  border-radius: 12px;
  background: url("./../../images/Actions/loupe.svg") no-repeat;
  background-position-x: 12px;
  background-position-y: center;
  // margin: -4px 0 9px 1px;
  padding-left: 40px;
  padding-right: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  // box-shadow: 0px 1px 4px rgba(36, 63, 97, 0.1),
  //   0px 0px 1px rgba(36, 63, 97, 0.16);
  // color: #242424;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  &:focus {
    box-shadow: 0px 1px 4px rgba(103, 78, 174, 0.3),
      0px 0px 1px rgba(103, 78, 174, 0.3);
    outline: none;
    color: #000000;
  }
}

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #2a2630;
  margin-bottom: 25px;
}
